
@using Microsoft.EntityFrameworkCore
@using EternalBlue.Ifs
@using System.Reflection.Metadata.Ecma335
@using EternalBlue.Data
@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="text-center">
        <div class="row d-flex justify-content-start">
            <div class="form-group col-3">
                @Html.DropDownListFor(model => model.Technology, Model.Technologies, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                @Html.DropDownListFor(model => model.YearsOfExperience, Enumerable.Range(1, IFSHelper.GetFortranAge()).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), null, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>


        @foreach (var item in Model.Candidates.Select((value, i) => (value, i)))
        {
            @if ((item.i) % 4 == 0) {@Html.Raw("<div class=\"row m-2\">")}
            <div class="card col-3" style="width: 18rem;">
                <img class="card-img-top" src=@item.value.ProfilePicture alt=@item.value.FullName>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@item.value.FullName</h5>
                    <p class="card-text">@item.value.CandidateId</p>
                </div>

                <div class="">
                    @foreach (var skill in item.value.Experience)
                    {
                        <div class="text-left">@skill.TechnologyName - @skill.YearsOfExperience year(s)</div>
                    }
                </div>
                <div class="row mt-auto">
                    <a class="btn btn-success align-self-end m-2" asp-controller="Home" asp-action="Approve" asp-route-Id="@item.value.CandidateId">Approve</a>
                    <a class="btn btn-danger align-self-end m-2" asp-controller="Home" asp-action="Reject" asp-route-Id="@item.value.CandidateId">Reject</a>
                </div>
            </div>
            @if ((item.i) % 4 == 3) {@Html.Raw("</div>")}
        }
        @if (Model.Candidates.Count % 4 != 0) {@Html.Raw("</div>")}

    </div>
</form>


