
@using Microsoft.EntityFrameworkCore
@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="text-center">
        <div class="form-group col-12">
            @Html.LabelFor(model => model.Technologies)
            @Html.DropDownListFor(model => model.Technology, Model.Technologies, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.YearsOfExperience, new { @class = "form-control" })
            <input type="submit" value="Submit" />
            
            @foreach(var item in Model.Candidates)  
            {  
                <table>
                    <tr>  
                        <td>
                            <img src="@item.ProfilePicture" width="100px" height="100px" />
                        </td>
                        
                        <td>  
                            @Html.DisplayFor(m => item.FullName)  
                        </td>  
                        <td>
                            @Html.DisplayFor(m => item.Experience)
                            <ul>
                                @foreach (var skill in item.Experience)
                                {
                                    
                                }
                            </ul>
                            
                        </td>  
                        <td>  
                            <a class="btn btn-success" asp-controller="Home" asp-action="Approve" asp-route-Id="@item.CandidateId">Approve</a>  
                            <a class="btn btn-danger" asp-controller="Home" asp-action="Reject" asp-route-Id="@item.CandidateId">Reject</a>  
                        </td>  
                    </tr> 
                </table>
                 
            }  
        </div>
    </div>
</form>

    
